<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WindowsFormsApp1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
<userSettings>
        <WindowsFormsApp1.Properties.Settings>
                <setting name="AniFontName" serializeAs="String">
                        <value>BIZ UDPゴシック</value>
                </setting>
                <setting name="AniFontColor" serializeAs="String">
                        <value>Black</value>
                </setting>
                <setting name="AniFontSize" serializeAs="String">
                        <value>20</value>
                </setting>
                <setting name="AniFontStyle" serializeAs="String">
                        <value>Bold</value>
                </setting>
                <setting name="Language" serializeAs="String">
                        <value>English</value>
                </setting>
                <setting name="Gender" serializeAs="String">
                        <value>Male</value>
                </setting>
                <setting name="Voice" serializeAs="String">
                        <value>en-US-BrianNeural</value>
                </setting>
                <setting name="PlayConfigFilePath" serializeAs="String">
                        <value />
                </setting>
                <setting name="CapFontName" serializeAs="String">
                        <value>Microsoft Sans Serif</value>
                </setting>
                <setting name="CapFontColor" serializeAs="String">
                        <value>White</value>
                </setting>
                <setting name="CapFontSize" serializeAs="String">
                        <value>18</value>
                </setting>
                <setting name="CapFontStyle" serializeAs="String">
                        <value>Bold</value>
                </setting>
                <setting name="CapBgColor" serializeAs="String">
                        <value>Black</value>
                </setting>
                <setting name="TextTitle" serializeAs="String">
                        <value />
                </setting>
                <setting name="AudioDataPath" serializeAs="String">
                        <value>D:\Iwate University japan\IPU Final Project\New Requirement 2025\Audio Data Files</value>
                </setting>
                <setting name="OutPutPath" serializeAs="String">
                        <value>D:\Iwate University japan\IPU Final Project\New Requirement 2025\OutPut</value>
                </setting>
                <setting name="TemplatePath" serializeAs="String">
                        <value>D:\Iwate University japan\Work\Template Data</value>
                </setting>
                <setting name="CsvFilePath" serializeAs="String">
                        <value>D:\Iwate University japan\IPU Final Project\New Requirement 2025</value>
                </setting>
                <setting name="QuizAnsDetailsOffset" serializeAs="String">
                        <value>0</value>
                </setting>
                <setting name="ExcelLanguage" serializeAs="String">
                        <value />
                </setting>
                <setting name="IbcSelectFile" serializeAs="String">
                        <value />
                </setting>
                <setting name="IbcOutputFile" serializeAs="String">
                        <value />
                </setting>
                <setting name="OutPutIbcFile" serializeAs="String">
                        <value />
                </setting>
                <setting name="txt_dicfiles" serializeAs="String">
                        <value />
                </setting>
                <setting name="txt_OutFilePath" serializeAs="String">
                        <value />
                </setting>
                <setting name="txt_workspace" serializeAs="String">
                        <value />
                </setting>
        </WindowsFormsApp1.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.10" newVersion="6.0.0.10" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory.Data" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>